@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.grid {
  border-collapse: collapse; /* Collapse borders into single lines */
  width: auto; /* Allow the table to adjust its width based on content */
  margin: 0 auto; /* Center the table horizontally */
}

.grid th, .grid td {
  border: 1px solid black; /* Add borders to cells */
  padding: 8px; /* Add padding to cells */
  text-align: center; /* Center the text within cells */
}